.btnOne {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    border-left:#000 solid;
    width: 125px;
    height: 35px;      
    border-bottom: #000000;
    transition: 0.3s;
}

.btnOne:hover {
    border-left: 1rem;
    transition: 0.3s;
}

.btnTwo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;   
    font-weight: bold;
    border-left:#000 solid;
    width: 125px;
    height: 35px;
    border-bottom: #000000;
    position: relative;
    transition: 0.3s;
}

.btnTwo:hover {
    border-left: 1rem;
    transition: 0.3s;
}

.skillPanel {
    background-color: #efeffc;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #efeffc 4px ), repeating-linear-gradient( #c9ccfc55, #c3c6ff );
    padding: 10px;
    height: 350px;
    width: 310px;
}

.colorOne {
    transition: 0.7s;
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #ffefff 50%, #ffffff 50%);
    background-size: 18px 18px;
}

.colorTwo {
    transition: 0.7s;
    background-color: #ffffff;
    background-image: linear-gradient(-45deg, #ffffff, #ffffff 50%, #ffefff 50%, #fffffc);
    background-size: 18px 18px;
}

.colorThree {
    transition: 0.7s;
    background-color: #ffffff;
    background-image: radial-gradient(circle at center center, #ffefff, #ffffff), repeating-radial-gradient(circle at center center, #efeffc, #efeffc, 18px, transparent 36px, transparent 18px);
    background-blend-mode: multiply;
}